body{
	/*background-image: url(../img/1.jpg);*/
	background-color: white;
	background-size: 100%;
	color: #a0a5a8;
}
.page-header{
	color: black !important;
}

#wrapper{
	background-color: white;
	padding-bottom: 20px;
}
/*Styling the form*/
.index-form{
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
}
.form-heading{
	background-color: white !important;
	color: black !important;
	padding-right:200px ;
}
.card1{
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	box-shadow: inset -8x -8px 4px #d1d9e6, inset -8px -8px 4px #f9f9f9;
}
.btn-log{
	margin-left: 150px;
	width: 20%;
}
.form-control{
	width: 300px !important;
    height: 40px;
    margin: 4px 0;
	margin-left: 45px;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form-panel{
	
	margin-left:auto;
	margin-right: auto; 
	border-radius: 10px;
	
}
.form-heading{
	font-weight: bold;
	background-color:#449d44; 
	font-size: 20px;
	color: white;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.panel{
border: none;

}
.login-panel{
	margin-top: 10px;
}

input{
	background-color: transparent;
	font-size: 18px;
	padding-left: 5px;
	border-width: thin;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: solid;
}
.form-field{
	padding-top: 20px;
	text-align: center;
}
label{
	font-style: italic;
	font-size: large;
	font-weight: bold;
}
button{
	font-size: larger;
	background-image: linear-gradient(to right, #120E43, #5DA3FA) !important;
	cursor: pointer;
	height: 40px;
	border-style: solid;
	border-color: black !important;
	border-width: thin;
	border-radius: 5px;
	

}
button:hover{
	background-image: linear-gradient(to right, #a3a2af, #a5c6ee) !important;
	color: black !important;
}


.footer{
	color: white;
	text-align: center;
	padding-bottom: 20px;
	background-image:linear-gradient(to right, #120E43, #5DA3FA);
	font-size: large;

}
.footer a:hover{
	color: white;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
     color: black;
}
a:hover{
	text-decoration: none;
}
.panel-nav{
	margin-left:auto;
	margin-right: auto; 
}
.panel-nav a:hover{
	border-bottom: solid;
	border-top: solid;
}
.panel-nav{
	font-size: 16px;
}
/*Dropdown menue*/
nav{
	margin-top: -10px;
	margin-left:auto;
	margin-right: auto; 
	padding-top: 20px;
}

nav ul li{
	display: inline-block;
	padding: 0px 20px 10px 20px;
	list-style: none;
	
}
nav ul li ul{
	display: none;
	float: left;
	position: absolute;
	background-color: rgba(0, 100, 0, 1);
	border-radius: 0px 0px 5px 5px;
	padding: 0px 10px 10px 0px;
}
nav ul li:hover ul{
	display: block;
}

nav ul li ul li{
	display: inherit;
	padding:5px 0px 5px 0px;
	padding-left: 5px;
	list-style: none;
}

nav ul li a:hover{
	color: white;

}
nav ul li a{
	color: black;
}
select{
	color: green;
}
.login-panel {
    margin-top: 10px;
}


